<div class="w-full bg-white/90">
  <div class="container mx-auto grid grid-cols-2 gap-10 text-black py-10">
    <div class="p-4 flex flex-col justify-center">
      <h3 class="font-bold tracking-wider">
        Welcome to a World of Exquisite Luxury
      </h3>
      <h1 class="text-7xl font-bold my-4 tracking-widest">Pearls Hotel</h1>
      <div class="flex flex-col gap-2">
        <p class="tracking-wide">
          Welcome to Pearls Hotel, where luxury meets tranquility in the heart
          of elegance. Nestled amidst lush landscapes and overlooking
          breathtaking vistas, Pearls Hotel is a sanctuary of opulence and
          refinement.
        </p>
        <p class="tracking-wide">
          Step into a world where every detail is meticulously crafted to
          indulge your senses and elevate your experience. From the moment you
          arrive, our dedicated staff ensure that your every need is not only
          met but exceeded, ensuring a seamless blend of comfort and
          sophistication
        </p>
        <p class="tracking-wide">
          At Pearls Hotel, we redefine luxury with a commitment to impeccable
          service, unparalleled amenities, and an unwavering dedication to
          exceeding your expectations. Experience the epitome of indulgence and
          discover a world of timeless elegance at Pearls Hotel.
        </p>
      </div>
      <!-- learn more -->
      <div class="flex justify-end mt-10">
        <a href="#" class="text-white btn hover:text-primary hover:bg-white">
          Learn More
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <img
        src="/media/images/pearlshotelfrontdesk.jpg"
        alt=""
        class="aspect-video object-cover rounded-md"
      />
      <div class="flex justify-end">
        <img
          src="/media/images/pearlshotelfront2.jpg"
          alt=""
          class="w-2/3 aspect-video object-cover rounded-md"
        />
      </div>
    </div>
  </div>
</div>
