<div class="py-20">
  <div class="container mx-auto text-black">
    <div class="w-full flex justify-center">
      <img src="/logo.png" alt="logo" class="w-32 h-32 object-contain" />
    </div>
    <div class="flex justify-between mt-10 text-black">
      <div class="">
        <span>Our Address</span>
        <div class="flex flex-col mt-5">
          <h2 class="text-lg font-bold mb-2">Pearl Hotels</h2>
          <span>1234 Street Name</span>
          <span>City Name, ST 12345</span>
        </div>
      </div>
      <!-- RESERVATION -->
      <div class="">
        <span>Reservation</span>
        <div class="flex flex-col mt-7">
          <span>Phone: +123 456 7890</span>
          <span>Email:pearls@gmailcom</span>
        </div>
      </div>
      <!-- AWARDS -->
      <div class="">
        <span>Awards</span>
        <div class="flex flex-col mt-7">
          <span>Best Hotel in the World</span>
          <span>Best Hotel in the World</span>
        </div>
      </div>
    </div>
  </div>
</div>
