<div class="text-black py-10 mx-auto">
  <h1 class="font-bold text-4xl my-5 text-center">Embark on a Culinary Adventure</h1>
  <p class="max-w-[900px] mx-auto text-center mb-10">
        Immerse yourself in a world of exquisite flavors at our diverse
        collection of restaurants and bars. Whether you crave a romantic evening
        under the stars or a vibrant social gathering, we offer the perfect
        setting to tantalize your taste buds and create unforgettable memories.
  </p>
  <div class="container mx-auto px-20">

    <div class=" grid grid-cols-5 gap-20">
      <div class="h-full col-span-5 ">
        <!-- Culinary Delights -->
        <div class="flex flex-col justify-center gap-8 my-5 text-justify h-full ">
          <div class="flex gap-32">
            <div class="max-w-[400px] flex-1 flex flex-col justify-center">
              <h2 class="font-bold text-2xl">Culinary Delights</h2>
              <p>
              Savor the flavors of the world at our diverse collection of
              restaurants and bars. From casual poolside dining to romantic
              candlelit dinners, we offer a variety of culinary experiences to
              suit every taste.
              </p>
            </div>
            <div class="flex-1">
              <img src="/media/dining7.jpg" alt="" class="flex-1 w-full aspect-video object-cover rounded-md">
            </div>
            
          </div>
          <div>
            <div class="flex gap-32">
              
              <div class="flex-1">
    
                <img src="/media/dining5.jpg" alt="" class="flex-1 w-full aspect-video object-cover rounded-md">
              </div>
              <div class="max-w-[400px] flex-1 flex flex-col justify-center">
                <h2 class="font-bold text-2xl">Signature Cocktails</h2>
                <p>
                  Indulge in a refreshing cocktail at one of our stylish bars. From
                  classic favorites to innovative creations, our expert mixologists
                  will craft the perfect drink to suit your mood.
                </p>
              </div>
              
            </div>
            
          </div>
          <!-- music night -->
          <div>
            <div class="flex gap-32">
              
              
              <div class="max-w-[400px] flex-1 flex flex-col justify-center">
                <h2 class="font-bold text-2xl">Live Music Nights</h2>
                <p >
                  Enjoy live music and entertainment at our vibrant bars and lounges.
                  From acoustic guitar to DJ sets, we offer a variety of musical
                  experiences to enhance your evening.
                </p>
              </div>
              <div class="flex-1">
    
                <img src="/media/dining8.jpg" alt="" class="flex-1 w-full aspect-video object-cover rounded-md">
              </div>
            </div>
           
          </div>
          <!-- special events -->
          <div>
            <div class="flex gap-32">
              
              <div class="flex-1">
    
                <img src="/media/dining6.jpg" alt="" class="flex-1 w-full aspect-video object-cover rounded-md">
              </div>
              <div class="max-w-[400px] flex-1 flex flex-col justify-center">
                <h2 class="font-bold text-2xl">Special Events</h2>
                <p>
                  Join us for special events and themed evenings throughout the year.
                  From wine tastings to holiday celebrations, we offer a variety of
                  exciting experiences to enhance your stay.
                </p>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
