<div class="text-white py-20">
  <h1 class="font-bold text-4xl my-5 text-center">Reimagine Your Well-being</h1>
  <div class="max-w-[1000px] grid grid-cols-2 mx-auto gap-10">
    <div class="flex items-center">
      <h2 class="font-bold text-2xl my-5">
        Aintain your fitness routine or discover new paths to relaxation in our
        state-of-the-art wellness center.
      </h2>
    </div>
    <div>
      <p class="text-base tracking-wider my-5">
        Recharge at our state-of-the-art wellness haven. Unwind in the luxurious
        spa with expertly tailored treatments, or elevate your fitness with our
        cutting-edge gym equipment and guidance from certified trainers. Find
        your inner peace in our dedicated yoga studio offering classes for all
        levels. Take a refreshing dip in our sparkling rooftop pool , boasting
        breathtaking city views. It's the perfect way to unwind after a workout
        or a day exploring the city.
      </p>
    </div>
  </div>
  <div class="grid grid-cols-2 container mx-auto mt-10">
    <div class="order-1">
      <img
        src="/media/fitness1.jpg"
        alt="wellness-1"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="flex items-center order-0">
      <div class="m-auto w-fit h-fit">
        <h1 class="text-2xl">SPA, Massage, & Wellness</h1>
        <p class="max-w-[400px] mt-5 text-base">
          In the hotel spa center we offer an exceptional well-being experience
          combining our expertise, high technology and breathtaking results.
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 container mx-auto">
    <div class="order-0">
      <img
        src="/media/fitness2.jpg"
        alt="wellness-1"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="flex items-center order-1">
      <div class="m-auto w-fit h-fit">
        <h1 class="text-2xl">Workout & Yoga room</h1>
        <p class="max-w-[400px] mt-5 text-base">
          Our gym is equipped with the latest technology and offers a wide range
          of fitness classes. Our yoga room is the perfect place to find your
          inner peace.
        </p>
      </div>
    </div>
  </div>
</div>
