<div class="py-10 bg-black px-10 container mx-auto">
  <h2 class="text-center text-4xl text-white my-2 font-bold">
    Unwind in Your Sanctuary Await
  </h2>
  <h4 class="text-center text-lg tracking-wide text-white my-2 font-medium">
    Discover the perfect haven for your unforgettable stay
  </h4>
  <p
    class="max-w-[900px] !font-normal mx-auto text-center text-white tracking-wider text-base leading-7"
  >
    Escape to your perfect haven, whether you crave the vibrant energy of the
    city with breathtaking cityscapes in our Urban Oasis rooms, or seek serene
    comfort in our Tranquil Escape suites featuring plush furnishings and
    calming garden views. For those desiring unparalleled indulgence, immerse
    yourselves in our expansive suites, boasting private balconies, oversized
    soaking tubs, and fireplaces – a haven of ultimate luxury.
  </p>
  <div class="swiper mySwiper my-10">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/media/room1.jpg"
          alt=""
          srcset=""
          class="w-full aspect-square rounded-md"
        />
      </div>

      <div class="swiper-slide">
        <img
          src="/media/room2.jpg"
          alt=""
          srcset=""
          class="w-full aspect-square rounded-md"
        />
      </div><div class="swiper-slide">
        <img
          src="/media/room3.jpg"
          alt=""
          srcset=""
          class="w-full aspect-square rounded-md"
        />
      </div><div class="swiper-slide">
        <img
          src="/media/room4.jpg"
          alt=""
          srcset=""
          class="w-full aspect-square rounded-md"
        />
      </div><div class="swiper-slide">
        <img
          src="/media/room5.jpg"
          alt=""
          srcset=""
          class="w-full aspect-square rounded-md"
        />
      </div><div class="swiper-slide">
        <img
          src="/media/room6.jpg"
          alt=""
          srcset=""
          class="w-full aspect-square rounded-md"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right"
      >
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-left"
      >
        <path d="m15 18-6-6 6-6"> </path>
      </svg>
    </div>
  </div>

  <style>
    :root {
      --swiper-navigation-color: #ffbf00;
      --swiper-pagination-color: #ffbf00;
      --swiper-pagination-bullet-inactive-color: #ffbf00;
      --swiper-pagination-bullet-width: 12px;
      --swiper-pagination-bullet-height: 12px;
      --swiper-navigation-size: 30px !important;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-pagination-bullet-active {
      --swiper-pagination-bullet-width: 20px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      content: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
      height: 40px;
      width: 40px;
      backdrop-filter: blur(16px) saturate(200%);
      -webkit-backdrop-filter: blur(16px) saturate(200%);
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
    }
  </style>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script is:inline>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 4,
      grabCursor: true,
      spaceBetween: 20,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1280: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    });
  </script>
</div>
